bumpversion==0.6.0
docker==4.4.0
influxdb-client==1.13.0
marshmallow==3.10.0
pytest==6.2.1
pytz==2020.4
requests==2.25.1
requests-toolbelt==0.9.1
responses==0.12.1
knobs==2.1.1
mypy-boto3-timestream-query==1.16.40.0
mypy-boto3-timestream-write==1.16.40.0
pytz==2020.4
boto3==1.16.40
botocore==1.19.40
click-pathlib==2020.3.13.0
aws-lambda-context==1.1.0
mypy-boto3-sqs==1.16.40.0
johnnydep==1.7
click==7.1.2
pygit2==1.4.0